@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header,body,button{
    font-family: "Poppins";
}
body{
    color: #F9FAFB;
}
.menu{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgb(232, 232, 255);
    color: #1E1B4B;
    border-radius: 15px;
}
img{
    max-width: 100%;
    height: auto;
}

.nome-empresa{
    margin: 0;
    font-size: 18px;
}

.itens-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.menu button{
    background-color: #1E1B4B;
    color: white;
    border: solid 5px #1E1B4B;
    border-radius: 8px;
    height: 30px;
    width: 120px;
}
#botão-comece{
    background-color: #3730A3;
    color: white;
    border: solid 5px #3730A3;
    border-radius: 8px;
    height: 40px;
    width: 165px;
}
#empresa-infos{
    display: flex;

}
.conteudo1{
    margin-top: 70px;
    display: flex;
    color: #1E1B4B;
    font-size: 20px;
    justify-content: center;
}
.conteudo1 #conteudo1-coluna{
    display: flex;
    flex-direction: column;
}

#conteudo_2 {
    font-family: "Poppins";
    color: #1E1B4B;
    display: grid;
    width: 100%;
    height: 70%;

}



#conteudo_2_caixas div {
    border: 1px solid #4F46E5;
    height: 100%;
    width: 30%;
    border-radius: 25px;
    font-size: 10px;
}
#conteudo_2_caixas {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    
}


#basic ul, #premium ul, #business ul {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    padding-top: 0px;
}



#basic h1 {
    width: 70%;
    height: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #4F46E5;
}
#premium h1 {
    width: 70%;
    height: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #3730A3;   
}
#business h1 {
    width: 70%;
    height: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #3730A3; 
}

#basic p, #premium p, #business p {
    margin-left: 20px;
}
#basic button{
    margin-left: 10%;
    margin-bottom: 0px;
    border-radius: 8px;
    background-color: #4F46E5;
    border-color: #4F46E5;
    border: solid #4F46E5;
    color: white;
    width: 80%;
    height: 10%;
}
#premium button{
    margin-left: 10%;
    margin-bottom: 0px;
    border-radius: 8px;
    background-color: #4F46E5;
    border-color: #4F46E5;
    border: solid #4F46E5;
    color: white;
    width: 80%;
    height: 10%;
}
#business button{
    margin-left: 10%;
    margin-bottom: 0px;
    border-radius: 8px;
    background-color: #1E1B4B;
    border-color: #1E1B4B;
    border: solid #1E1B4B;
    color: white;
    width: 80%;
    height: 10%;
}


#basic li, #premium li, #business li {
    margin: 0px;
    font-size: 10px;
    margin-top: 0px;
}


#pequenos_negocios, #medio_porte, #grandes_empresas{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 20px;
}



#de {
    font-size: 10px;
    height: 17px;
    width: 60px;
    padding-bottom: 4px;
    color: #6B7280;
}

#por1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
    color: #4F46E5;
    
}
#por2 {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #3730A3;
    
}
#por3{
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #1E1B4B;
}

#de_por {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.listas{
    list-style-type: none;
    margin-left:0%;
    
    
}

.listas li::before{
    content: "✓"; 
    color: #4338CA;
    font-size: 15px;
    
    
}
#conteudo_3_caixas {
    display: grid;
    grid-column: ;
}
#conteudo_3_caixas div {
    border: solid #4F46E5;
    border-radius: 15px;
    border-width: 1px;
}

